*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(255, 166, 0);
    min-height: 100vh;
    width: 100vw;
}
header{
    background-color:rgb(0, 0, 0) ;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
}

.logoImg{
    width: 80px;
}

.nav{
    display: flex;
    gap: 20px;
}

.btn{
    width: 80px;
    height: 30px;
    font-size: 1rem;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 5px;
}
.btn a {
    text-decoration: none;
    color: black;
}
/*final header*/
main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;

}
.card-box{
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 20px black;
}

.card-box button{
    border:2px solid black;
    border-radius: 0 0 10px 10px;
    background-color:green;
    
    cursor: pointer;
    height: 30px;
}

.card-box button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.card-image{
   width: 100%;
   height: 100%;
   border-radius: 10px 10px 0 0px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}

.bi-whatsapp{
    background-color: green;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1.2rem;
    color: rgb(255, 166, 0);
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}
.bi-whatsapp a ,.bi-instagram a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.bi-instagram{
    background-color: rgb(228, 18, 18);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width:600px) {
    .nav{
        display: none;
    }
}

@media (max-width:567px) {
    .redes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        width: 100%
    }
    .bi-instagram,.bi-whatsapp{
        width: 250px;
    }
}