*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(39, 39, 39);
}
header{
    background-color: rgb(255, 166, 0);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;

}

.logoImg{
    width: 60px;
}